.App {
    min-height: 100vh;
    color: #eeeeee;
    background-color: #2d4059;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-login {
    width: 50vh;
}

.logo-welcome {
    width: 20vh;
}