.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
    background-color: #2d4059;
}

.logo-medium {
    width: 50vh;
}